template(name="postItem")
	div.post
		div.post-content
			h3
				a(href="{{url}}") {{title}}
				span {{domain}}
			
			p userId = {{userId}}
			p MuserId = {{MuserId}}

			p submitted by {{author}}
				if ownPost
					a.btn(href="{{pathFor 'postEdit'}}") Edit

			
		a.discuss.btn(href="{{pathFor 'postPage' ABC}}") Discuss